tbody tr:nth-child(odd) {
    background-color: #eef2f8;
  }
  
  tbody tr:nth-child(even) {
    background-color:#d3e1f7;
  }

  td{
      padding: 10px;
      width: 100px;
  }

  .balance{
      width: 150px;
  }

  .table-container {
      height: 500px;
      margin: 30px 50px;
      overflow: auto;
      border-bottom: solid rgb(54, 54, 68) 1px;
  }

  .input-wrapper {
      height: 80px;
      display: inline-flex;
      width: 320px;
  }

  .input-wrapper input {
      width: 100px;
      margin-left: 20px;
  }

  .input-wrapper button {
      padding: 5px 7px;
      border-radius: 22px;
      background-color: white;
      color: rgb(54, 54, 68);
      cursor: pointer;
  }

  .input-wrapper button:hover {
    padding: 5px 7px;
    border-radius: 22px;
    background-color: rgb(54, 54, 68);
    color: white;
}

  .input-container {
      display: flex;
      justify-content: space-around;
      border-top: solid rgb(54, 54, 68) 1px;
      border-bottom: solid rgb(54, 54, 68) 1px;
      width: 100%;
      margin: 0;
  }

  .tables-container {
      display: flex;
      overflow: auto;
      height: 70vh;
      flex-wrap: wrap;
     
  }

  .ex {
    font-size: 10px;
    margin-left: 40px;
    padding: 1px 4px;
    cursor: pointer;
    border-radius: 24px;
    background-color: white;
    color: red;
    border: solid red 2px;
}
.ex:hover {
    background-color: red;
    color: white;
}

caption {
    font-size: 30px;
}