tbody tr:nth-child(odd) {
    background-color: #eef2f8;
  }
  
  tbody tr:nth-child(even) {
    background-color:#d3e1f7;
  }

  td{
      padding: 10px;
      width: 100px;
  }

  .balance{
      width: 150px;
  }

  table{
      margin-top: 30px;
  }
