<div class='navigation-panel'>
    <div class='panel-wrapper'>
        <div class='title-container'>
            <h3>{{title}}</h3>
        </div>

        <div class='navigation-list-wrapper'>
        <nav>
            <ul class='navigation-list'>
                    <li class='navigation-list-item'>
                        <a routerLink="loan-view">Loan View</a>
                    </li>
                    <li class='navigation-list-item'>
                        <a routerLink="table-view">Table View</a>
                    </li>
            </ul>
        </nav>
        </div>
    </div>
</div>
